<% if user_signed_in? %>

<% else %>
<section class="hero-unit">
	<header class="center">
		<h1>Welcome to AboutME</h1>
	</header>
	<br/>
	<br/>
	<section class="center">
	<%= link_to "Create an Account Now", new_user_registration_path, :class => "btn btn-primary btn-large"  %>
	</section>	
</section><!-- hero-unit -->
<% end %>